@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

html,
body {
  font-family: 'Mona Sans', sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.reveal {
  transform: translateY(28px);
  opacity: 0;
  transition: transform .7s cubic-bezier(.2, .9, .2, 1), opacity .6s ease-in-out;
}

.reveal.visible {
  transform: translateY(0);
  opacity: 1;
}

.nav-frost {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.356);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-container {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card-back {
  transform: rotateY(180deg);
}
    
.frosted {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.apple-gradient {
  background: 
    radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(55, 65, 81, 0.9), rgba(17, 24, 39, 0.95));
  background-size: 20px 20px, 100% 100%;
}

.nspower-gradient {
  background: 
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom right, rgba(217, 119, 6, 0.9), rgba(8, 47, 73, 0.95));
  background-size: 30px 30px, 30px 30px, 100% 100%;
}

.bestbuy-gradient {
  background: 
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(30, 64, 175, 0.9), rgba(23, 37, 84, 0.95));
  background-size: 10px 10px, 100% 100%;
}