@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

html,
body {
  font-family: 'Mona Sans', sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.reveal {
  transform: translateY(28px);
  opacity: 0;
  transition: transform .7s cubic-bezier(.2, .9, .2, 1), opacity .6s ease-in-out;
}

.reveal.visible {
  transform: translateY(0);
  opacity: 1;
}

.nav-frost {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.356);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}