:root {
  --color-primary: var(--color-snow-white);
  --color-secondary: var(--color-blue);
  --color-blue: #0029FF;
  --color-snow-white: #F2F2F2;
  --color-dark-blue: #1A1C30;
  --color-carbon: #1B1B1B;
  --color-cream: #F9F5E7;
  --color-transparent: rgba(199, 199, 199, 0.4);
  --font-family: "Mona Sans", sans-serif;
  --font-family-serif: "Times", "Time New Roman", serif;
  --font-family-mono: "Courier New", monospace;
  --border-radius: 5px;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/Mona-Sans.woff2") format("woff2 supports variations"), url("/assets/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

body,
html {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-family);
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

body a,
body a:visited,
body a:hover,
body a:active,
html a,
html a:visited,
html a:hover,
html a:active {
  text-decoration: none;
  cursor: none;
}

@media screen and (max-width: 500px) and (prefers-color-scheme: light) {
  :root {
    --color-primary: var(--color-dark-blue);
    --color-secondary: var(--color-snow-white);
  }
}

.light-mode {
  --color-primary: var(--color-snow-white);
  --color-secondary: var(--color-blue);
}

.serif {
  font-family: var(--font-family-serif);
}

.sans-serif {
  font-family: var(--font-family);
}

#header {
  display: none;
}

.left-container {
  display: none;
}

.main-container {
  display: none;
}

.mobile-title {
  font-size: 2.5em;
  font-family: Mona Sans;
  font-weight: 700;
  line-height: 50px;
  word-wrap: break-word;
  margin: 10px !important;
}

.mobile-about {
  height: 100%;
  font-size: 15px;
  padding: 10px 100px 10px 10px;
  font-family: var(--font-family-serif);
  border-top: solid 2px var(--color-secondary);
  border-bottom: solid 2px var(--color-secondary);
}

.mobile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 2fr 3fr;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.mobile-key {
  display: flex;
  font-family: var(--font-family-serif);
  font-style: italic;
  font-size: 1em;
  line-height: normal;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: .5em; */
  padding: 0 1.4em;
  border-right: 3px solid var(--color-secondary);
  border-bottom: 3px solid var(--color-secondary);
}

.mobile-value {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-bottom: 3px solid var(--color-secondary);
}

.name {
  grid-column: 1/2;
  grid-row: 1/2;
}

.name-value {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.6em;
  font-weight: 700;
}

.email {
  grid-column: 1/2;
  grid-row: 2/3;
}

.email-value {
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: var(--font-family-mono);
  font-size: 1em;
  letter-spacing: 0.1em;
}

.email-value a {
  color: var(--color-secondary);
}

.social {
  grid-column: 1/2;
  grid-row: 3/4;
}

.social-value {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.3em;
}

.social-value a {
  color: var(--color-secondary);
}

.social-value ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-value li {
  margin: 15px 0 0 0;
}

.social-value-spans {
  vertical-align: 11%;
}

.brand-logos {
  fill: var(--color-secondary);
}

.about {
  grid-column: 1/2;
  grid-row: 4/8;
}

.about-value {
  display: flex;
  flex-direction: column;
  align-items: end;
  grid-column: 2/3;
  grid-row: 4/8;
  font-family: var(--font-family-serif);
  font-size: 0.88em;
  line-height: normal;
  font-style: italic;
  padding-right: 15px;
}

.save-button {
  display: flex;
  justify-content: right;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  background-color: var(--color-transparent);
  color: var(--color-secondary);
  border: none;
  border-radius: 25px;
  margin: 0.5em;
  padding: 10px;
}

.share-logo {
  padding-left: 5px;
  fill: none;
  stroke: var(--color-secondary);
}

/* Desktop */
@media only screen and (min-width: 768px) {
  #header {
    display: flex;
  }

  #mode-container {
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 10000;
  }

  #dark-mode-btn {
    background: none;
    border: none;
    outline: none;
    display: none;
    cursor: grab;
  }

  #light-mode-btn {
    background: none;
    border: none;
    outline: none;
    cursor: grab;
  }

  .mode-icon {
    fill: var(--color-secondary);
  }

  .mobile-container {
    display: none;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    place-content: center;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
  }

  .right-container {
    position: relative;
    background-color: var(--color-secondary);
    width: 600px;
    min-width: 500px;
    height: 600px;
    min-height: 500px;
    border-radius: var(--border-radius);
  }

  .main-title {
    color: var(--color-primary);
    font-family: var(--font-family);
    text-align: center;
    padding: 25px 5px 10px 5px;
    font-size: 4rem;
    font-weight: 800;
    margin: 10px;
  }

  .main-links {
    font-family: var(--font-family-serif);
    font-size: 3.4em;
    font-weight: 700;
    text-align: center;
    line-height: normal;
  }

  .main-links a {
    color: var(--color-primary);
    margin: 40px 0 40px 0;
    padding: 5px;
    border-radius: var(--border-radius);
  }

  .main-links a:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary);
  }

  .main-links-row {
    margin: 2.4rem 0.8rem 0 0.8rem;
  }

  .redacted {
    display: inline-block;
    height: 2rem;
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
  }

  .r-1 {
    width: 24rem;
  }

  .r-2 {
    width: 10.2rem;
  }

  .r-3 {
    width: 26rem;
  }

  .r-4 {
    width: 20.5rem;
  }

  .left-container {
    display: block;
    position: relative;
    margin: 20px;
  }

  .info {
    font-family: var(--font-family-mono);
    font-size: 0.5em;
    padding: 10px;
    line-height: 0.3rem;
  }

  .info-container {
    display: none;
    position: relative;
    width: 600px;
    max-width: 600px;
    height: 600px;
    max-height: 600px;
    margin-right: 20px;
    border-radius: var(--border-radius);
    overflow: hidden;
    color: var(--color-primary);
    background-color: var(--color-secondary);
  }

  .info-container-title {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: var(--font-family-serif);
    font-size: 3.4em;
    font-weight: 700;
    line-height: normal;
    border-bottom: solid 3px var(--color-primary);
    padding: 20px;
  }

  .about-container-section1 {
    font-family: var(--font-family-mono);
    font-size: 1.2em;
    padding: 20px;
    border-bottom: solid 3px var(--color-primary);
  }

  .about-container-section1 a {
    color: inherit;
  }

  .about-container-section2 {
    font-family: var(--font-family-mono);
    font-size: 1.2em;
    padding: 20px;
  }

  .about-container-section2 a {
    color: inherit;
  }

  .connect-container-email {
    display: block;
    font-family: var(--font-family-mono);
    font-size: 1.8em;
    font-weight: 500;
    color: var(--color-primary);
    border-bottom: solid 3px var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
  }

  .connect-container-email a {
    color: inherit;
  }

  .connect-container-email:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }

  .connect-container-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 190px 190px;
    font-size: 1.6em;
    font-weight: 500;
    align-items: center;
    justify-items: center;
  }

  .connect-container-links a {
    color: inherit;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .connect-container-links a:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }

  .github-link {
    grid-column: 1/2;
    grid-row: 1/2;
    border-bottom: solid 3px var(--color-primary);
  }

  .instagram-link {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .linkedin-link {
    grid-column: 2/3;
    grid-row: 1/3;
    border-left: solid 3px var(--color-primary);
  }
}

/* Footer - start */
@media only screen and (min-width: 768px) {
  .footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: inline;
    text-align: center;
    margin: 10px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: var(--border-radius);
  }

  .footer-msg {
    font-size: 0.65em;
    font-family: var(--font-family-serif);
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: var(--border-radius);
    padding: 5px;
    margin: 2px;
  }

  .footer-msg:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}

/* Footer - end */
/* 404 Page Not Found - start */
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  place-content: center;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: none;
}

.error-code {
  font-size: 1.8em;
  font-weight: 700;
  padding: 0 55px 0 55px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: var(--border-radius);
}

.error-message {
  font-size: 0.8em;
  padding: 0;
  margin: 20px;
  line-height: 10px;
}

.error-link {
  font-family: var(--font-family-mono);
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 5px;
  margin: 2px;
}

@media only screen and (min-width: 768px) {
  .error-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    place-content: center;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
  }

  .error-code {
    font-size: 2em;
    font-weight: 700;
    padding: 0 100px 0 100px;
    border: 10px solid var(--color-secondary);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: var(--border-radius);
  }

  .error-code:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary);
  }

  .error-message {
    font-size: 1.28em;
    line-height: 20px;
  }

  .error-link {
    font-family: var(--font-family-mono);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
  }

  .error-link:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
  }
}
/* 404 Page Not Found - end */

/* Cursor */
@media only screen and (min-width: 500px) {
  .cursor {
    position: fixed;
    opacity: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    pointer-events: none;
    background-color: var(--color-cream);
    mix-blend-mode: difference;
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(0.3);
    z-index: 1000;
  }

  .cursor-link {
    transform: translate(-50%, -50%) scale(1);
  }
}