
:root {
    --color-carbon-black: #1f1f1f;
    --color-cream-white: #f9f5e7;
    --color-snow-white: #ffffff;
    --font-family: "Roboto", sans-serif;
}

body {
    color-scheme: dark;
    --color-back-main: var(--color-carbon-black);
    --color-text: var(--color-cream-white);
    font-family: var(--font-family);
    overflow: hidden;
}

body.dark {
    color-scheme: dark;
    --color-back-main: var(--color-pitch-black);
    --color-text: var(--color-cream-white);
}

body.light {
    color-scheme: light;
    --color-back-main: var(--color-cream-yellow);
    --color-text: var(--color-carbon-black);
}

body, html {
    padding: 0;
    margin: 0;
    background-color: var(--color-back-main);
    color: var(--color-text);
    cursor: crosshair;
}


#title {
    color: var(--color-text);   
    font-size: 40pt;
    float: left;
    margin-top: 250px;
    margin-left: 50px;
    height: auto;
    width: auto;
}

#coming-soon {
    color: var(--color-text);
    font-family: 'Roboto Serif';
    font-size: 20pt;
    float: left;
    margin-left: 300px;
}
