:root {
    --color-carbon-black: #1f1f1f;
    --color-cream-white: #f9f5e7;
    --color-snow-white: #ffffff;
    --font-family: sans-serif;
}

body {
    color-scheme: dark;
    --color-back-main: var(--color-carbon-black);
    --color-text: var(--color-cream-white);
}

body.dark {
    color-scheme: dark;
    --color-back-main: var(--color-pitch-black);
    --color-text: var(--color-cream-white);
}

body.light {
    color-scheme: light;
    --color-back-main: var(--color-cream-yellow);
    --color-text: var(--color-carbon-black);
}

body, html {
    padding: 0;
    margin: 0;
    background-color: var(--color-back-main);
    color: var(--color-text);
    cursor: crosshair;
}

.pointer_mouse-pointer {
    position: fixed;
    opacity: 1;
    text-transform: none !important;
    left: -2.5px;
    top: -2.5px;
    pointer-events: none;
    z-index: 1000 !important;
    width: 5px;
    height: 5px;
    border-radius:500px
}

.pointer_mouse-pointer {
    transition: width .35s, height .35s, top .35s, left .35s, transform .1s var(--transition-ease), -webkit-backdrop-filter .3s var(--transition-ease);
    transition: width .35s, height .35s, top .35s, left .35s, transform .1s var(--transition-ease), backdrop-filter .3s var(--transition-ease);
    transition:width .35s, height .35s, top .35s, left .35s, transform .1s var(--transition-ease), backdrop-filter .3s var(--transition-ease), -webkit-backdrop-filter .3s var(--transition-ease)
}