:root {
    --color-primary: var(--color-carbon);
    --color-secondary: var(--color-cream);
    --color-carbon: #1B1B1B;
    --color-cream: #F9F5E7;
    --color-yellow-marker: #E8E810;
    --color-blue-marker: rgb(13, 13, 198);
    --color-transparent: rgba(121, 121, 116, 0.73);
    --transparency: 0.5;
    --font-family: 'Mona Sans', sans-serif;
    --font-family-serif: 'Times', 'Time New Roman', serif;
    --font-family-mono: 'Courier New', monospace;
    --font-size-xl: 52px;
    --font-size-l: 30px;
    --font-size-m: 24px;
    --font-size-s: 12px;
    --font-size-xs: 10px;
    --border-radius: 5px;
}

@font-face {
    font-family: 'Mona Sans';
    src:
        url('/assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
        url('/assets/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

body, html {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--font-family);
    overflow: hidden;
    cursor: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

body a, a:visited, a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: var(--color-cream);
        --color-secondary: var(--color-carbon);
    }
}

#header {
    display: none;
}

.left-container {
    display: none;
}

.main-container {
    display: none;
}

.mobile-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.mobile {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 2fr 3fr;
    border: 2px solid var(--color-secondary);
    border-radius: 30px;
    overflow: hidden;
    box-sizing: border-box;
    height: 90vh;
    width: 100%;
    margin: 0px 20px;
}

.mobile-key {
    display: flex;
    font-family: var(--font-family-serif);
    font-style: italic;
    font-size: 1em;
    line-height: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5em;
    border-right: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
}

.mobile-value {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid var(--color-secondary);
}

.name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.name-value {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.4em;
    font-weight: 700;
}

.email {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.email-value {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-family: var(--font-family-mono);
    font-size: 0.9em;
    letter-spacing: 0.06em;
    font-weight: bold;
}

.email-value a {
    color: var(--color-secondary);
}

.social {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

}

.social-value {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.3em;
}

.social-value-spans {
    vertical-align: 11%;
}

.social-value a {
    color: var(--color-secondary);
}

.social-value ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-value li {
    margin: 10px 0 0 0;
}

.brand-logos {
    fill: var(--color-secondary);
}

.about {
    grid-column: 1 / 2;
    grid-row: 4 / 8;
}

.about-value {
    display: flex;
    flex-direction: column;
    align-items: end;
    grid-column: 2 / 3;
    grid-row: 4 / 8;
    font-family: var(--font-family-serif);
    font-size: 0.88em;
    line-height: normal;
    font-style: italic;
    padding-right: 15px;
}

.save-button {
    display: flex;
    justify-content: right;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 500;
    background-color: rgba(199, 199, 199, 0.4);
    color: var(--color-secondary);
    border: none;
    border-radius: 1em;
    margin: 0.5em;
    padding: 2px 10px;
}

.share-logo {
    padding-left: 5px;
    fill: none;
    stroke: var(--color-secondary);
}

/* Desktop */
@media only screen and (min-width: 768px) {
    .light-mode {
        --color-primary: var(--color-cream);
        --color-secondary: var(--color-carbon);
    }

    #header {
        display: flex;
    }
    
    #mode-container {
        position: fixed;
        top: 0;
        right: 15px;
        z-index: 10000;
    }
    
    #dark-mode-btn {
        background: none;
        border: none;
        outline: none;
        display: none;
        cursor: grab;
    }
    
    #light-mode-btn {
        background: none;
        border: none;
        outline: none;
        cursor: grab;
    }
    
    .mode-icon {
        fill: var(--color-secondary);
    }

    .mobile-container {
        display: none;
    }

    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        place-content: center;
        position: absolute;  
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        border: none;
    }

    .right-container {
        position: relative;
        background-color: var(--color-secondary);
        width: 600px;
        min-width: 500px;
        height: 600px;
        min-height: 500px;
        border-radius: var(--border-radius);
    }

    .title {
        color: var(--color-primary);
        font-family: var(--font-family);
        text-align: center;
        padding: 25px 5px 10px 5px;
        font-size: 4rem;
        font-weight: 800;
        margin: 10px;
    }
    
    .main-links {
        font-family: var(--font-family-serif);
        font-size: 3.4em;
        font-weight: 700;
        text-align: center;
        line-height: normal;
    }
    
    .main-links a {
        color: var(--color-primary);
        margin: 40px 0 40px 0;
        padding: 5px;
        border-radius: var(--border-radius);
    }

    .about-link a:hover {
        color: var(--color-carbon);
        background-color: var(--color-yellow-marker);
    }

    .connect-link a:hover {
        color: var(--color-cream);
        background-color: var(--color-blue-marker);
    }

    .close-button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 10px;
    }

    .main-link {
        margin: 5vh 1vw 0 1vw;
    }

    .redacted {
        display: inline-block;
        height: 2rem;
        background-color: var(--color-primary);
        border-radius: var(--border-radius);
    }

    .r-1 {
        width: 24rem;
    }

    .r-2 {
        width: 10.2rem;
    }

    .r-3 {
        width: 26rem;
    }

    .r-4 {
        width: 20.5rem;
    }

    .left-container {
        display: block;
        position: relative;
        margin: 20px;
    }

    .strings {
        fill: none;
        stroke: var(--color-secondary);
    }

    .strings-title {
        position: fixed;
        left: 50%;
    }

    .info {
        font-size: var(--font-size-xs);
        font-family: var(--font-family-mono);
        padding: 5px;
        line-height: 0.3rem;
    }

    .info-container {
        position: relative;
        width: 600px;
        height: 600px;
        margin-right: 20px;
        border-radius: var(--border-radius);
        overflow: hidden;
    }

    .info-container-title {
        position: relative;
        font-family: var(--font-family-serif);
        font-size: 3.4em;
        font-weight: 700;
        line-height: normal;
        margin: 5vh 0 2vh 5vw;
    }

    .about-container {
        display: none;
        color: var(--color-carbon);
        background-image: repeating-linear-gradient(
            90deg,
            var(--color-yellow-marker) 0 19px,
            var(--color-transparent) 19px 19.5px
          );
    }

    .about-container-description {
        margin: 50px;
        font-family: var(--font-family-serif);
        font-size: 1.4em;
        text-align: justify;
    }

    .connect-container {
        display: none;
        color: var(--color-cream);
        background-image: repeating-linear-gradient(
            90deg,
            var(--color-blue-marker) 0 19px,
            var(--color-transparent) 19px 19.5px
        );
    }

    #connect-container-email {
        margin: 25px 0px 20px 73px;
        font-size: 1.8em;
        font-family: var(--font-family-mono);
        font-weight: 500;
    }

    #connect-container-email a {
        color: var(--color-cream);
        padding: 10px 1px 10px 1px;
    }

    #connect-container-email a:hover {
        color: var(--color-carbon);
        background-color: var(--color-cream);
        border-radius: var(--border-radius);
    }

    .connect-container-links {
        margin: 50px 0px 0px 62px;
        font-size: 1.6em;
        font-weight: 500;
    }

    .connect-container-links a {
        color: var(--color-cream);
        padding-right: 5px;
    }

    .connect-container-links a:hover {
        text-decoration: none;
        border-bottom: 10px solid currentColor;
        border-right: 10px solid currentColor;
    }

    .connect-container-links li {
        margin-top: 25px;
        list-style-type: none;
        position: relative;
    }

    .connect-container-links li::before {
        content: '';
        position: absolute;
        left: -25px;
        top: 30%;
        transform: translateY(-30%);
        width: 20px;
        height: 20px;
        border-radius: 40%;
        background-color: var(--color-cream);
    }
}

/* Footer - begin */
@media only screen and (min-width: 768px) {
    .footer {
        background-color: var(--color-primary);
        color: var(--color-secondary);
        display: inline;
        text-align: center;
        margin: 10px;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        border-radius: var(--border-radius);
    }

    .footer a {
        text-decoration: none;
        color: var(--color-secondary);
        font-family: var(--font-family-serif);
        font-size: var(--font-size-s);
        padding: 5px;
        margin: 2px;
    }

    .footer a:hover {
        background-color: var(--color-secondary);
        color: var(--color-primary);
        border-radius: var(--border-radius);
    }

    .footer-msg {
        font-size: var(--font-size-s);
        font-family: var(--font-family-serif);
        background-color: var(--color-secondary);
        color: var(--color-primary);
        border-radius: var(--border-radius);
        padding: 5px;
        margin: 2px;
    }

    .footer-msg:hover {
        background-color: var(--color-primary);
        color: var(--color-secondary);
    }
}
/* Footer - end */

/* 404 Page Not Found - begin */
.error-code {
    font-size: var(--font-size-m);
    font-weight: 700;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border: 10px solid var(--color-secondary);
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: var(--border-radius);
}

.error-message {
    font-size: var(--font-size-s);
    padding: 0;
    margin: 20px;
    line-height: 10px;
}

.error-link {
    font-family: var(--font-family-mono);
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: var(--border-radius);
    padding: 5px;
    margin: 2px;
}

@media only screen and (min-width: 500px) {
    .error-code {
        font-size: var(--font-size-l);
        font-weight: 700;
        padding: 10px;
        margin: 10px;
        text-align: center;
        border: 10px solid var(--color-secondary);
        background-color: var(--color-primary);
        color: var(--color-secondary);
        border-radius: var(--border-radius);
    }

    .error-code:hover {
        color: var(--color-primary);
        background-color: var(--color-secondary);
    }
    
    .error-message {
        font-size: var(--font-size-m);
        padding: 10px;
        margin: 0;
        line-height: 20px;
    }

    .error-link {
        font-family: var(--font-family-mono);
        background-color: var(--color-primary);
        color: var(--color-secondary);
        border: 2px solid var(--color-secondary);
        border-radius: 5px;
    }

    .error-link:hover {
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }
}
/* 404 Page Not Found - end */

/* Cursor */
@media only screen and (min-width: 500px) {
    #cursor {
        background-color: var(--color-secondary);
        opacity: 0.4;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: fixed;
        pointer-events: none;
    }
}