
:root {
    --color-carbon-black: #1f1f1f;
    --color-cream-white: #f9f5e7;
    --color-snow-white: #ffffff;
    --font-family: "Roboto", sans-serif;
    --font-family-serif: "Roboto Serif", serif;
    --font-family-mono: "Roboto Mono", monospace;
    --font-size-xs: 12px;
    --font-size-s: 16px;
    --font-size-m: 24px;
    --font-size-l: 36px;
    --font-size-xl: 52px;
}

body {
    color-scheme: dark;
    --color-back-main: var(--color-carbon-black);
    --color-text: var(--color-cream-white);
    font-family: var(--font-family);
}

body.dark {
    color-scheme: dark;
    --color-back-main: var(--color-pitch-black);
    --color-text: var(--color-cream-white);
}

body.light {
    color-scheme: light;
    --color-back-main: var(--color-cream-yellow);
    --color-text: var(--color-carbon-black);
}

body, html {
    padding: 0;
    margin: 0;
    background-color: var(--color-back-main);
    color: var(--color-text);
    cursor: crosshair;
    overflow: hidden;
}

#container {
    display: flex;
}

#title {
    font-size: var(--font-size-l);
    min-width: auto;
    margin: auto;
}

#coming-soon {
    font-family: var(--font-family-serif);
    font-size: var(--font-size-m);
    min-width: auto;
    margin: auto;
}

#blob {
    background-color: var(--color-cream-white);
    height: 70px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    opacity: 0.5;
}
